.login-form{
  width: 300px;
  position: absolute;
  right: 80px;
  border: 1px solid black;
  padding-left: 20px;
  padding-bottom: 20px;

}

.register{
  width: 300px;
  position: absolute;
  right: 80px;
  border: 1px solid black;
  padding-left: 20px;
  padding-bottom: 20px;
}
